extends layout.pug

include mixins/component.pug
include mixins/error-field.pug
include mixins/input-field.pug
include mixins/textarea-field.pug

block content
  if payment.status
    section.box
      .box__sidebar
        h2.box__title Pay carbon offset

      .box__content
        p #[strong #{payment.name}] paid carbon offset for #[strong #{name}], flying from #[strong #{airports.from.city}], #[strong #{airports.from.country}] to #[strong #{airports.to.city}], #[strong #{airports.to.country}].

        p The total flying distance is #[strong #{calculation.distance}] kilometers with a CO2 emission of #[strong #{calculation.emission}] kilogram.

        p To offset this emission an amount of #[strong #{calculation.costs} Euro] was paid.

  else
    section.box
      .box__sidebar
        h2.box__title Pay carbon offset

      .box__content
        p You are asked to pay carbon offset for #[strong #{name}], flying from #[strong #{airports.from.city}], #[strong #{airports.from.country}] to #[strong #{airports.to.city}], #[strong #{airports.to.country}].

        p The total flying distance is #[strong #{calculation.distance}] kilometers with a CO2 emission of #[strong #{calculation.emission}] kilogram.

        p To offset this emission you are asked to pay #[strong #{calculation.costs} Euro]. Please use the form below to pay via PayPal or credit card.

    section.box
      .box__sidebar
        h2.box__title Form

      .box__content
        form.form(method='POST')
          input(type='hidden', name='_method', value='PUT')

          +input-field('name', 'Your name / organization')
          +input-field('email', 'Your email address', 'email')
          +textarea-field('message', 'Your message (optional, this will be made public)')

          button.form__submit(type='submit') Pay via PayPal
