include error-field.pug

mixin input-field(key, label, type='text')
  - var value = ''
  if fields && fields[key]
    - value = fields[key]

  .form__group
    +error-field(key)
    label.form__label(for=key)= label
    input.form__input(id=key, required, name=key, value=value, type=type)
